@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    /* background gradient is dynamically added by JS */
    background-attachment: fixed;
    background-size: cover;
}

.container {
    background-color: #FFFFFF;
    border-radius: 2rem;
    /* box-shadow implemented from css scan */
    box-shadow: rgba(173, 207, 255, 0.25) 0px 54px 55px, rgba(173, 207, 255, 0.12) 0px -12px 30px, rgba(173, 207, 255, 0.12) 0px 4px 6px, rgba(173, 207, 255, 0.17) 0px 12px 13px, rgba(173, 207, 255, 0.09) 0px -3px 5px;
    padding: 2rem;
    margin: 2rem auto;
    max-width: 600px;
    min-width: none;
    text-align: center;
    /* responsiveness */
    width: 90%;
    min-width: 280px;
}

#quote-container {
    padding: 5px;
}

h2 {
    font-size: xx-large;
    margin-bottom: 32px;
}

#quote-area {
    display: flex;
    margin-top: 20px;
}

#quote {
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    text-align: justify;
    hyphens: auto;
    font-weight: bold;
}

#quote-area i:first-child {
    margin: 0 15px 0 0;
}

#quote-area i:last-child {
    display: flex;
    align-items: flex-end;
    margin: 0 0 10px 15px;
}

#author-area {
    display: flex;
    justify-content: end;
    margin-top: 20px;
}

#author {
    font-size: large;
    font-style: italic;
    margin: 0 15px 30px 10px;
}



.buttons {
    border-top: 1px solid #ADCFFF;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.buttons ul {
    display: flex;
    list-style: none;
}

.buttons li {
    margin: 5px;
}


button {
    appearance: none;
    background-color: #FFFFFF;
    border-radius: 40em;
    border-style: none;
    box-shadow: #ADCFFF 0 -12px 6px inset;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,sans-serif;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: -.24px;
    margin: 0;
    outline: none;
    padding: 1rem 1.3rem;
    quotes: auto;
    text-align: center;
    text-decoration: none;
    transition: all .15s;
    user-select: none;
}

button:hover {
    background-color: #FFC229;
    box-shadow: #FF6314 0 -6px 8px inset;
    transform: scale(1.05);
}

button:active {
    transform: scale(1.025);
}


/*  Media-Query for extra small screens (Phones) */
@media (max-width: 480px) {
    button {
        font-size: 0.9rem;
        padding: 0.6rem 0.8rem;
    }
}